@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT */
@font-face {
  font-family: "Indie Flower";
  src: url("./font/IndieFlower.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chelsea Market";
  src: url("./font/ChelseaMarket-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply w-full bg-black h-svh;
}

h1 {
  font-family: "Chelsea Market";
  @apply absolute z-10 text-[13vw] text-white uppercase;
}
