@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Indie Flower";
  src: url("./font/IndieFlower.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chelsea Market";
  src: url("./font/ChelseaMarket-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Indie Flower";
  color: white;
  @apply w-full bg-black h-svh;
}

[id^="textbox-"] {
  position: absolute;
  z-index: 90;
  inset: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
}

/* 

Intro screen

*/

h1 {
  font-family: "Chelsea Market";
  @apply z-10 text-[13vw] text-white uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 70px rgba(255, 255, 255, 0.5);
}

button#start {
  background-color: black;
  max-width: 320px;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid white;
  z-index: 10;
}
