/* RESET */
* {
    margin: 0;
    padding: 0;
}
/* END RESET */

body {
    width: 400vw;
    height: 100vh;
    color: #fff;
    perspective: 1px;
    transform-style: preserve-3d;
    background-color: #000000;
    overflow-y: hidden;
    overflow-x: scroll;
}

/* .bg-px-container {
    display: flex;
    width: 100%;
} */
.bg-px-section {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    height: 100lvh;
    overflow: hidden;
}
.bg-px-layer {
    position: absolute;
    height: 80lvh;
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
}
#bg-forest-1 {
    background-image: url(./src/image/Background_Foresta-1.png);
    background-color: #cfcfcf;   
}
#bg-forest-2 {
    background-image: url(./src/image/Background_Foresta-2.png);
    z-index: 2;
}
#bg-forest-3 {
    background-image: url(./src/image/Background_Foresta-3.png);
    z-index: 3;
}

.lumio {
    position: fixed;
    z-index: 10;
    bottom: 20%;
    left: 0;
}

.lumio img {

    height: 200px;
    width: auto;

}